/* ie hacks */
.page_main, .pagecontainer {
	width:100%;
	clear:both;
}
.page_recordview {
	width:700px;
}
.navtreeouter {
	clear:both;
}
.floatcontainer {
	clear:both;
}
#bottom {
	clear:both;
}


#button_main_container {
	height:3.0em;
}

.button_main, .button_param, .button_rdv {
	height:3em;
	padding-top:1.0em;

}

div.navtreeouter {
	height:4em;
}



#container {
	min-height:100%;
	height:100%;
}


.page_recordview {
	width:auto;
}