
/* 
=============================================================
BLOCK ELEMENTS
=============================================================
*/

body {
	font-family: arial, Verdana, Helvetica, sans-serif;
/*	font-family:sanserif; */
	margin:0px;
	padding:0px;
	background:#BBD9EE;
}

div#content { 
	margin-left:0px;
	margin-right:0px;
	text-align:left;
	clear:both;
}

div#title {
	font-size:25px;
	color:black;
}

div#bottom {
	font-size:10px;
	padding-top:0px;
	margin-top:0px;
	clear:both;
}

div.emptyfields {
	margin-left:20px;
	width:600px;
}

div.switchpage {
	display:none;
	min-height:400px;
	padding:20px;
	clear:both;
	background:#FFFFFF;
}

div.singlepage {
	padding:20px;
	clear:both;
	background:#FFFFFF;
}

div.navtree {
	margin:10px;
	float:left;
	background:white;
}

div.nav_buttons {
	margin-left:20px;
	clear:both;
}

div.switchcontainer {
	clear:both;
}


/* 
=============================================================
TABLE STUFF 
=============================================================
*/


table {
}

table.navtable {
}

table.groupview {
}

table.dicttable {
}

th {
	font-weight:normal;
	text-align:left;
	vertical-align:top;
	border-bottom:solid 1px;
	border-right:dashed 1px;
	padding-right:2px;
	padding-left:2px;
}

th.lastitem {
}

td {
	padding:4px;
}

td.firstitem {
}

td.shaded {
	background:#F0F2FF;
}

td.pitemname {
	width:250px;
}

td.ptree {
	padding-left:5px;
	padding-right:5px;
	vertical-align:middle;
}

td.ptree:hover {
	background:#F0F2FF;
}

td.ptreeempty {
	padding:0px;
	vertical-align:middle;
}







/*
=============================================================
IMAGES
=============================================================
*/

img#toplogo {
	vertical-align:middle;
	margin-left:30px;
}

img#bottomlogo {
	margin-left:20px;
	float:left
}





/* 
=============================================================
TEXT ELEMENTS 
=============================================================
*/

a {
	text-decoration:none;
	color:#202060;
}

h1 {
	width:600px;
	line-height:135%;
	border-bottom:solid 1px;
	margin:0px;
	padding:0px;
}

h2 {
	width:600px;
	line-height:135%;
	border-bottom:solid 1px;
	margin:0px;
	padding:0px;
}

h3 {
}

p {
}

.inputlabel {
	display:block;
	float:left;
	width:130px;
}

.inputfield {
	width:200px;
}

.inputcommit {
	display:block;
	float:left;
	margin:20px;
}

/*
=============================================================
DROP DOWN MENU CSS
=============================================================
*/

#button_mainview {
/*	font-size:24px; */
	margin-left:20px;
/*	border-right:double 4px; 
	border-bottom:doule 4px #FFFFFF; */
}

.switchbuttonactive {
	color:black;
	background-color:#FFFFFF;
}

.switchbuttonactive a {
	color:black;
}
.switchbuttoninactive a{
	color:#666;
}

.switchbuttoninactive {
	background: #E7F1F8;
}



div.switchcontainer ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

div.switchcontainer li {
	float:left;
	position: relative;
	padding:4px;
	cursor: default;	
	margin-left:6px;
	margin-right:6px;
}

div.nav_buttons ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

div.nav_buttons li {
	float:left;
	position: relative;
	padding:6px;
	cursor: default;
	border-right: solid 4px #F0F2FF;
}

#nav_first {
	border-left:none;
}

#nav_last {
	border-right:none;
}

.nav_buttons li:hover {
	background:#F0F2FF;
}

.nav_tableli {
	background:white;
}


/* 
=============================================================
FORM STUFF
=============================================================


.form-help {
	font-size: 10pt;
	color: #333333;
}

.std-text {
	font-family: arial, Verdana, Helvetica, sans-serif;
	font-size: 10pt;
	color: #333333;
}

.tab-small {
	font-family: arial, Verdana, Helvetica, sans-serif; 
	font-size: 8pt; 
	color: #333333;
}

.location-bar {
	background-color: #efefef;
	border: none;
}

.list-header {
	background-color: #c0c0c0;
	border: none;
}

.list-item {
	font-family: arial, Verdana, Helvetica, sans-serif; 
	font-size: 10pt; 
}

.list-nav {
	font-family: arial, Verdana, Helvetica, sans-serif; 
	font-size: 10pt; 
	font-weight: bold;
}

.row-normal {
	background-color: #ffffff;
	border: none;

}

.row-hilite {
	background-color: #efefef;
	border: none;
}

.section-bar {
	background-color: #c0c0c0;
	border: none;
}

.system-msg {
	font-family:arial,	Verdana, Helvetica, sans-serif; 
	font-size: 10pt; 
	background-color: #ffffff;
	border:	 1px solid #000000;
	margin-bottom: 6px;
	margin-top: 6px;
	padding: 4px;
	width: 100%;
	color: #660033;
}

.form-title {
	font-family:arial, Verdana, Helvetica, sans-serif; 
	font-weight: bold;
	font-size: 12pt; 
	color: #333333;
}

.form-label {
	font-family: arial, Verdana, Helvetica, sans-serif; 
	font-weight: bold;
	font-size: 10pt; 
	color: #333333;
}

.form-optional {
	font-family:arial, Verdana, Helvetica, sans-serif; 
	font-weight: bold;
	font-style: italic;
	font-size: 10pt; 
	color: #333333;
}

.form-element {
	font-family: arial,Verdana, Helvetica, Sans-serif;
	font-size: 10pt;
	color: #000000;
}

.form-text {
	font-family: arial, Verdana, Helvetica, sans-serif;
	font-size: 10pt;
	color: #333333;
}

.form-mono {
	font-family: monospace;
	font-size: 12px;
	text-decoration: none;
}

*/