#page_comments_relationships .map {
	width:100%;
}

td .editable {
	color:#202060;
}
td .editable:hover {
	background:none;
	color:#202060;
}

.record_editbar {
	padding:0px;
	padding-top:0px;
	margin-bottom:10px;
}

.record_editbar_addchild, .record_editbar_item {
	font-size:10pt;
	background:#EEEEEE;
	color:#783766;
	padding:4px;
	margin:4px;
	border:solid 1px #CCC;
}

.permissions_savearea {
	border-top:solid 2px #ccc;
	padding-top:10px;
	margin-top:10px;
}

a img {
	border:0px;
}

.users_navbar {
	border:solid 1px #ccc;
	text-align:center;
	width:800px;
}
.users_navbar a {
	padding:5px;
}

.users_table td {
	width:200px;
}

.singlepage {
	padding:20px;
	padding-bottom:100px;
}

.editpage_edit {
	width:70px;
	padding:4px;
	padding-left:2px;
	background:#EEE;
	font-size:10pt;
	border:solid 1px #CCC;
	color:#783766;
}
.editpage_edit img {
	vertical-align:middle;
	margin:2px;
	margin-top:0px;
}

.commentswidget_controls {
	margin-bottom:10px;
}

.listwidget_add, .listwidget_remove {
	vertical-align: middle;
	padding:2px;

}

.precontent .map {
	background:white; 
	margin-left:20px;
	margin-right:10px;
	padding-top:5px;
	padding-bottom:5px;

}

.map {
	font-size:10pt;
/*	background:white; */
}
.map td {
	min-width:32px;
}
.map td.next {
	background:url("/images/next.png") center center;
}
.map td.next_reverse {
	background:url("/images/next.png") center center;
}
.map td.branch_next {
	background:url("/images/branch_next.png") center center;
}
.map td.branch_up {
	background:url("/images/branch_up.png") center center;
}
.map td.branch_spacer {
	background:url("/images/branch_spacer.png") center center;
}
.map td.branch_both {
	background:url("/images/branch_both.png") center center;
}
.map td.branch_next_reverse {
	background:url("/images/branch_next.reverse.png") center center;
}
.map td.branch_up_reverse {
	background:url("/images/branch_up.reverse.png") center center;
}
.map td.branch_spacer_reverse {
	background:url("/images/branch_spacer.reverse.png") center center;
}
.map td.branch_both_reverse {
	background:url("/images/branch_both.reverse.png") center center;
}
.map td.blank {
	
}
.map td.editablelink:hover {
	background:url("/images/remove.png") center center;
	repeat-x: none;
	repeat-y: none;
}


.widget ul {
	list-style:none;
	margin:0px;
	padding:0px;
}

#permissions {
}

.user {
	font-size:10pt;
	margin:0px;
	padding:0px;
	margin-right:5px;
	margin-top:5px;
}

.user_removed {
	clear:both;
}
.user_removed .user {
	float:left;
}
.user_level ul {
	list-style:none;
	padding:0px;
	margin:0px;
	margin-right:6px;
	min-height:100px;
	/*
	max-height:400px;
	overflow:auto;*/
	width:180px;
}
.user_level ul li {
	padding:0px;
	margin:0px;
	margin-right:5px;
	margin-top:5px;
}
.user .action {
	background:#BBD9EE;
	padding:2px;
	border:solid #BBD9EE 1px;
	display:block;
	float:left;
}
.user .name {
	display:block;
	float:left;
	min-width:130px;
	padding:2px;
	padding-left:4px;
	padding-right:6px;
	border:solid #BBD9EE 1px;
	background:white;
}
.changed .action {
	background: #FF8135;
	border:solid #FF8135 1px;
}
.changed .name {
	border:solid #FF8135 1px;
}
.removed .action {
	background: red;
	border:solid red 1px;
}
.removed .name {
	border:solid red 1px;
}
.reassigned .action {
	background: #fdff4b;
	border:solid #fdff4b 1px;
}
.reassigned .name {
	border:solid #fdff4b 1px;
}

.user_level {
	float:left;
	margin-top:4px;
	padding-top:4px;
	padding-bottom:4px;
}

.user_outer {
	margin-top:5px;
}

.user_add, .relationship_add {
	width:586px;
	border:solid 2px #BBD9EE; 
	padding:10px;
	background:white;
}

.inherittable {
	width:600px;
}
.inherittable th {
	background:#BBD9EE;
	padding:4px;
	font-size:10pt;
	border-right:solid 2px white;
}
.inherittable td {
	background:white;	
}
.inherittable td:first-child {
	border-left:solid 2px #BBD9EE;
}
.inherittable td:last-child {
	border-right:solid 2px #BBD9EE;
}
.inherittable tbody tr:last-child td {
	border-bottom:solid 2px #BBD9EE;
}


/* ------------------------------ */

.ptest {
	border:solid 1px green;
}

th {
	text-align:left;
}

span.th_edit {
	padding:5px;
}
img.th_edit_img {
	padding-left:5px;
}

td.shaded {
	background:red;
}


/* Some resets for compatibility with existing CSS */
.date_selector, .date_selector * {
  width: auto;
  height: auto;
  border: none;
  background: none;
  margin: 0;
  padding: 0;
  text-align: left;
  text-decoration: none;
}
.date_selector {
  background: #F2F2F2;
  border: 1px solid #bbb;
  padding: 5px;
  margin: -1px 0 0 0;
  position: absolute;
  z-index: 100000;
  display: none;
}
.date_selector_ieframe {
  position: absolute;
  z-index: 99999;
  display: none;
}
  .date_selector .month_nav {
    margin: 0 0 5px 0;
    padding: 0;
    display: block;
  }
    .date_selector .month_name {
      font-weight: bold;
      line-height: 20px;
      display: block;
      text-align: center;
    }
    .date_selector .month_nav a {
      display: block;
      position: absolute;
      top: 5px;
      width: 20px;
      height: 20px;
      line-height: 17px;
      font-weight: bold;
      color: #003C78;
      text-align: center;
      font-size: 120%;
      overflow: hidden;
    }
      .date_selector .month_nav a:hover, .date_selector .month_nav a:focus {
        background: none;
        color: #003C78;
        text-decoration: none;
      }
    .date_selector .prev {
      left: 5px;
    }
    .date_selector .next {
      right: 5px;
    }
  .date_selector table {
    border-spacing: 0;
    border-collapse: collapse;
  }
    .date_selector th, .date_selector td {
      width: 2.5em;
      height: 2em;
      padding: 0;
      text-align: center;
    }
    .date_selector td {
      border: 1px solid #ccc;
      line-height: 2em;
      text-align: center;
      white-space: nowrap;
      background: white;
    }
    .date_selector td.today {
      background: #FFFED9;
    }
    .date_selector td.unselected_month {
      color: #ccc;
    }
      .date_selector td a {
        display: block;
        text-decoration: none !important;
        width: 100%;
        height: 100%;
        line-height: 2em;
        color: #003C78;
        text-align: center;
      }
      .date_selector td.today a {
        background: #FFFEB3;
      }
      .date_selector td.selected a {
        background: #D8DFE5;
        font-weight: bold;
      }
        .date_selector td a:hover {
          background: #003C78;
          color: white;
        }



/* autocomplete */

ul.jq-ui-autocomplete {
	max-height:400px;
    position: absolute;
    overflow: auto;
    background-color: #fff;
    border: 1px solid #aaa;
    margin: 0px;
    padding: 0;
    list-style: none;
    font: normal .75em/.75em Verdana, Arial, sans-serif;
    color: #333;	
}
ul.jq-ui-autocomplete li { 
  display: block; 
  padding: .3em .5em .3em .3em; 
  overflow: hidden;
  line-height:150%;
  width: 95%;
}

ul.jq-ui-autocomplete li.active { 
  background-color: #3875d7; 
  color: #fff;
}




.ac_results {
	padding: 0px;
	border: 1px solid black;
	background-color: white;
	overflow: hidden;
	z-index: 99999;
}

.ac_results ul {
	width: 100%;
	list-style-position: outside;
	list-style: none;
	padding: 0;
	margin: 0;
}

.ac_results li {
	margin: 0px;
	padding: 2px 5px;
	cursor: default;
	display: block;
	/* 
	if width will be 100% horizontal scrollbar will apear 
	when scroll mode will be used
	*/
	/*width: 100%;*/
	font: menu;
	font-size: 12px;
	/* 
	it is very important, if line-height not setted or setted 
	in relative units scroll will be broken in firefox
	*/
	line-height: 16px;
	overflow: hidden;
}

.ac_loading {
	background: white url('indicator.gif') right center no-repeat;
}

.ac_odd {
	background-color: #eee;
}

.ac_over {
	background-color: #0A246A;
	color: white;
}


/* end autocomplete */

.editable {
	padding:2px;
	padding-bottom:0px;
	font-weight:normal;
	color:#783766;
}

.editable img {
	border-bottom:dotted #783766 1px;
}
.editable:hover {
	background:#783766;
	color:white;
}

.show {
	display:block;
}

ul {
	margin:0px
}

.test_comments {
	width:600px;
	margin:20px;
	padding:10px;
	background:#F0F0F0;
}
.test_comments p {
	padding-bottom:10px;
	padding-top:0px;
	margin:0px;
}
.test_comments p.small {
	margin:0px;
	padding:0px;
	border-bottom:solid 1px black;
}


.test_history {
}



/* remove */
.floatleft {
	float:left;
}


#edit_parentmap {
	width:200px;
	padding:5px;
	margin-left:40px;
	background:white;
	border:solid 3px #FF8135;
	border-bottom:none;
}

/* 
=============================================================
INPUT ELEMENTS 
=============================================================
*/

input, textarea, select {
	margin:2px;
	padding:2px;
	border:solid 1px #CCC;
}

.input_combobox {
}
.input_combobox span input {
	width:300px;
	position:relative;
}
.combobox_items {
	background:white;
	position:absolute;
	margin-top:-2px;
	margin-left:2px;
	z-index:100;
	width:304px;
	max-height:500px;
	overflow:scroll;
	border:solid 1px #000;
}
.combobox_items div {
	padding:2px;
}
.combobox_items div:hover {
	background:lightblue;
}


.input_elem {
}

.input_multiselect, .input_textarea,.input_select {
	display:inline-block;
	position:relative;
}
.input_text,.input_select {
/*	width:200px; */
}
input_list {
}



/*
.input_combobox input {
	width:382px;
}
.input_combobox  ul {
	display:inline-block;
	position:absolute;
	top:1em;
	left:0em;	
	padding: 0;
	margin: 0;
	list-style: none;
	display:none;
	background:white;
	z-index:100;
}
.input_combobox ul li:hover {
	width:auto;
	background:#BBD9EE;
}
.input_combobox_items {
	width:400px;
	max-height:600px;
	overflow:scroll;
	border-bottom:solid 1px;
	border-left:solid 1px;
	border-right:solid 1px;
}
.input_combobox_items li {
	padding:2px;
}
.input_combobox img {
	height:1em;
	width:1em;
	padding-top:0.3em;
}
*/

.selecttest {
}

textarea {
/*	display:inline; */
	display:block;
	color:#783766;

}
input .text {
/*	width:200px; */
}
input {
	display:inline;
	color:#783766;

}




/* 
=============================================================
BLOCK ELEMENTS
=============================================================
*/

body {
	font-family: arial, Verdana, Helvetica, sans-serif;
	margin:0px;
	padding:0px;
	background:#BBD9EE; 
}

html,body {
	height:100%;
}

#container {
	position:relative; 
	min-height:100%;
	background:white;
}

#precontent, .precontent {
	background:#BBD9EE; 
}
#bottom {
	background:#BBD9EE; 
	font-size:10px;
	position:absolute;
	bottom:0px;
	width:100%;
}

#content {
	display:block;
	position: relative;
	overflow: none;
	padding:5px;
}

.navtable {		
	margin:0px;
	margin-left:20px;
	margin-right:20px;
	margin-bottom:10px;
	background:white;
	padding:5px;
}
#navtable_edit {
	border:solid 3px #FF8135;
}
#title {
	padding-left:20px;
	padding-top:10px;
}
#title a {
	font-size:25px;
}
#title img { 
	vertical-align:middle;
	border:solid 0px;
}
#bottom img {
	float:left;
}
/* alerts */
#alert {	
	position:fixed;
	top:0px;
	z-index:1000;
	margin:0px;
	margin-top:30px;
	list-style:none;
	padding-left:0px;
}
#alert li {
	float:left;
	clear:both;
	padding:5px;
	background:white;
	margin:0px;
	margin-left:20px;
	margin-bottom:10px;
	border:solid 4px #FF8135;
}


/*
=============================================================
NAV MENU
=============================================================
*/
#nav {
	margin:0px;
	padding:0px;
	margin-bottom:10px;
	padding-left:20px;
	list-style:none;
}
#nav li {
	float:left;
	padding:5px;
	background:white;
	border-right:solid 3px #BBD9EE;
}
#nav li:hover {
	background:#E7F1F8;
}
#nav li:last-child {
	border-right:none;
}	

#zone_parentmap {
	margin-bottom:10px;
}

/* 
=============================================================
PAGE / TAB
=============================================================
*/

/* recordview, .buttons:after */
.clearfix:after, .page:after, #permissions:after, .input_combobox:after, .browser:after, .table_header:after, #alert:after, #nav:after, .buttons_main:after, .page_main:after {
    content: "."; 
    display: block; 
    height: 0; 
    clear: both; 
    visibility: hidden;	
}


/* all */

/* all pages */
.pages {
	clear:left;
	margin-bottom:20px;
}

.page {
	background:#E7F1F8;	
	width:800px;
	padding:10px;
	display:none;
}
.page_active {
	display:block;
}
/* all buttons */
.buttons ul {
	padding-left:20px;
	list-style:none;
}
.buttons ul li {
	float:left;
	margin-right:10px;
}	
.button {
	padding:10px;
	background:#BBD9EE;
}
.button_active {
	background:#E7F1F8;
}


/* main */
#buttons_main {
	padding-top:10px;
}
.button_main {
	margin-top:-5px;
	background:#E7F1F8;
}
.button_main_active {
	background:white;
}
#button_main_mainview {
	margin-top:-15px;
	padding:15px;
}
.page_main {
	width:auto;
	background:white;
	padding-bottom:100px;
}
#page_main_mainview {
	display:block;	
}
#page_main_allview {
	padding-bottom:0px;
}




#form_addcomment_comment {
	width:480px;
}

.rightjustify {
	text-align:right;
	border-bottom:solid 1px black;
	color:#777;
	padding-right:10px;
}

/* 
=============================================================
SIDEBAR
=============================================================
*/
#sidebar {
/*	border-left:solid 1px; */
	padding:10px;
	padding-right:0px;
	width:300px;
	float:right;  
/*	position:absolute;  */
	background:white; 
	line-height:150%;
/*	background: url('images/transbackground.png'); */
}
#sidebar ul {
	list-style:none;
	padding:0px;
	margin:0px;
	margin-bottom:20px;
}
#sidebar ul li {
	-moz-user-select: none;
	color:grey;
/*	padding:0px;
	margin:0px; */
}
#sidebar ul li strong, #sidebar a {
	font-weight:normal;
	cursor:pointer;
	padding:5px;
	margin-left:0px;
	color:#202060;
}
.sidebar_active {
	background:#F0F0F0;
	display:block;
}	
#sidebar .sidebar_box {
	/*display:none;	*/
	background:#F0F0F0;
	margin-bottom:10px;
	padding:5px;
}
.sidebar_box p {
	margin:0px;
	padding:5px;
}


#sidebar_files, #sidebar_views {
	margin:0px;
	padding:0px;
	line-height:125%;
}
#sidebar_files li, #sidebar_views li {
	margin-left:25px; 
	list-style-type:circle;
}


.permissions_action {
	display:none;
}
.permissions_edit {
	display:none;
}

#imagepreview {
	text-align:center;
	background:#E7F1F8;
}
#imagepreview_img {
	line-height:0px;
}
#cousin_prev {
	padding:10px;
	margin:0px;
	background:#BBD9EE;
}
#cousin_center {
	border-left:2px solid white;
	border-right:2px solid white;
	padding:10px;
	margin:0px;
	background:#E7F1F8;
}
#cousin_next {
	padding:10px;
	margin:0px;
	background:#BBD9EE;
}	
#cousin_buttons {
	height:35px;
}

/* tile browser */

#outerdiv { height: 512px; width:512px; border: 1px solid black; position:relative; overflow:hidden; }
#innerdiv { position:relative; left: 0px; right: 0px; }




/* 
=============================================================
TABLES
=============================================================
*/

td {
	padding:4px; 
}

tr.s {
	background:#F0F2FF;
}

table.groupview {
	width:100%;
}
table.groupview th {
	border-left:solid 2px #E7F1F8;
	border-top:solid 2px #E7F1F8;
	border-bottom:solid 2px #E7F1F8;
}
table.groupview th:first-child {
	border-left:none;
}
.table_span {
	padding:5px;
	float:left;
	margin:5px;
}

/* Arrows */
.table_arrows {
	margin:5px;
	padding:5px;
	float:right;
}
.recordtable {
	border:solid 2px #E7F1F8;
}
.recordtable input {
	margin:10px;
}
.table_header {
	margin:0px;
	font-weight:normal;
	background:#E7F1F8;
}

.navtable tr {
}
.navtable a {
	background:white;
	padding-right:5px;
	padding-left:5px;
  	display:block;
	float:left;
}
.navtable td.wt {
	vertical-align: middle;
	background: url('/images/line.png') repeat-x;
	background-position: center center;
}
.navtable td.wt_r {
	float:none;
}
.navtable td.wt_a {
	height:32px;
	width:32px;
	background-position:center center no-repeat;
	
}
.navtable td.wt_child {
	width:32px;
	background:url('/images/addchild.png')  no-repeat;
	background-position:center center;
}
.navtable td.wt_parent {
	width:32px;
	background:url('/images/addparent.png') no-repeat;
	background-position:center center;
}
.navtable td {
	font-size:12px;
	margin:0px;
	padding:0px;
/*	border:solid 1px red; */
}
.navtable img {
	display:block;
}

/*
=============================================================
IMAGES
=============================================================
*/

/* 
=============================================================
TEXT ELEMENTS 
=============================================================
*/

.small { 
	line-height:120%;
	font-size:10pt;
}

a,.jslink {
	cursor:pointer;
	text-decoration:none;
	color:#202060;
}
.jslink_box {
	padding:2px 6px;
	padding:5px;
	cursor:pointer;
	color:grey;
	border:solid 1px lightgrey;	
}
.jslink_box_active {
	border:none;
	color:purple;
	cursor:default;
}

a.difflink {
	font-style:italic;
}
a.difflink:after {
/*	content: url("/images/jump.gif") */
}

h1 {
	line-height:135%;
	border-bottom:solid 1px;
	margin:0px;
	padding:0px;
}

h2 {
	max-width:800px;
	line-height:135%;
	border-bottom:dotted 1px;
	margin:0px;
	margin-top:20px;
	padding:0px;
}

h3 {
	margin-top:0px;
}

h5, h6 {
	font-weight:normal;
	font-style:italic;
	font-size:10pt;
	padding:0px;
	margin:0px;
	margin-bottom:10px;
	padding-top:10px;
	border-bottom:solid 1px;
}
h6 {
	display:inline;
}

p.small {
	font-size:10pt;
	margin-top:0px;
	margin-bottom:0px;
}


.page_comments p {
	margin-top:2px;
}
.page_comments strong {
	font-size:10pt;
	font-weight:normal;
	font-style:italic;
	margin:0px;
	padding:0px;
	border-bottom:solid 1px black;
}



/* 
=============================================================
QUICK BROWSER ELEMENTS 
=============================================================
*/

#parambuttons  {
	background:#FF8135;
	margin-top:0em;
	padding:0em;
	height:2em;
	padding-bottom:0em;
}
#parambuttons div.l {
	margin:0em;
/*	float:left; */
/*	display:block; */
	padding-top:0.3em;
	padding-bottom:0.3em;
	padding-left:0.5em;
	padding-right:0.5em; 
	height:1.4em;
	border-left:solid white 0.2em;
}
#parambuttons > div.l:first-child {
	border-left:none;
}
#parambuttons div.l:hover {
	background:white;
}
#addchild {
	background:white;
	z-index:200;
	clear:both;
/*	float:none; */
	display:none;
	margin:2px;
	padding-bottom:10px;
	margin-bottom:0px;;
}
.button_param,.button_addrecord {
	padding:10px;
	margin-right:10px;
	background:#BBD9EE;
}
.button_param_active,.button_addrecord_active {
	background:white;
}


/*** browser v2 ***/


.browser {
	float:left; 
	margin:10px;
	width:300px;
}
.b2parents {
	border:solid 4px #783766;
	border-top:none;
	background:#E7F1F8;
}
.b2parents div {
	border:solid 4px #783766;
	border-bottom:none;
	margin:-4px;
	padding:5px;
	background:#E7F1F8;
}
/*#b2parents div:last-child {
	background:#F0F2FF;
	border-bottom: solid 2px  #BBD9EE;
}*/
.b2current {
	padding:4px;
	margin:0px;
	border-left: solid 4px #783766;
	border-right:solid 4px #783766;
	background:white;
}
.b2current div {
	padding:0px;
}
.b2children {
	padding:5px;
	background: #F0F2FF;
	border:solid 4px #783766;
}
.b2children ul {
	list-style:none;
	margin-left:0px;
	padding:5px;
}
.b2close {
	z-index:200;
	position:absolute;
	top:-14px;
	left:282px;
}
.b2action {
	border-left: solid 4px #783766;
	border-right:solid 4px #783766;	
	background:white;
	list-style:none;
	margin:0px;
	padding:0px;
}
.b2action li {
	border-top:solid 2px white;
	padding:5px;
	color:white;
}
.b2action_select {
	background:orange;	
}
.b2action li a {
	color:white;
}
.newbrowser {
	z-index:100;
	width:300px;
}

/* colors

#BBD9EE;
#783766;
#E7F1F8;
#F0F2FF;

*/



/* *************************
     rounded corners
 ************************** */
/* large top */
.b2parents, .b2parents div {
	-moz-border-radius-topright:16px;
	-moz-border-radius-topleft:16px; 
	-webkit-border-top-right-radius:16px;
	-webkit-border-top-left-radius:16px; 	
}
/* large bottom */
.b2children {
	-moz-border-radius-bottomright:16px;
	-moz-border-radius-bottomleft:16px; 
	-webkit-border-bottom-right-radius:16px;
	-webkit-border-bottom-left-radius:16px; 	
}

/* all */
.precontent .map, #alert li, .navtable, #imagepreview, .tooltip, .child, .roundwhitebox, .page, div.sidebar, .browser {
	-moz-border-radius:8px;
	-webkit-border-radius:8px;
}

/* top only */
#edit_parentmap, #sidebar ul li strong, .recordtable,.recordtable h3, .button_main, .button_param, .button_addrecord, .button {
	-moz-border-radius-topright:8px;
	-moz-border-radius-topleft:8px; 
	-webkit-border-top-right-radius:8px;
	-webkit-border-top-left-radius:8px; 	
}

/* bottom only */
#parambuttons, #addchild, .parents, {
	-moz-border-radius-bottomleft:8px;
	-moz-border-radius-bottomright:8px;
	-webkit-border-bottom-left-radius:8px;
	-webkit-border-bottom-right-radius:8px;
}

/* left only */
.user .action, #cousin_prev, #nav li:first-child { 
	-moz-border-radius-topleft:8px;
	-moz-border-radius-bottomleft:8px;
	-webkit-border-top-left-radius:8px;
	-webkit-border-bottom-left-radius:8px;	
}

/* right only */
.user .name, #cousin_next, #nav li:last-child
{
	-moz-border-radius-topright:8px;
	-moz-border-radius-bottomright:8px;
	-webkit-border-top-right-radius:8px;
	-webkit-border-bottom-right-radius:8px;
}

/* other */
li.sidebar_box {
	-moz-border-radius-topright:8px;
	-moz-border-radius-bottomleft:8px;
	-moz-border-radius-bottomright:8px;
	-webkit-border-top-right-radius:8px;
	-webkit-border-bottom-left-radius:8px;
	-webkit-border-bottom-right-radius:8px;	
}
	
#parambrowser, #protobrowser, .browser {
	-moz-border-radius:20px;
	-webkit-border-radius:20px;
}

/* top left */
.inherittable th:first-child {
	-webkit-border-top-left-radius:8px;
	-moz-border-radius-topleft:8px;
}

/* top right */
.inherittable th:last-child {
	-webkit-border-top-right-radius:8px;
	-moz-border-radius-topright:8px;
	border-right:none;
}