table {
	width:100%;
}

/******* menus *******/

.menu {
}
.menu > li {
	position: relative;
}
.menu > li a {
	display:block;
}
.menu > li > ul,
.menu .hidden
{
	list-style: none;
	position: absolute;
	display: none;
	width: 250px;
	padding:10px;
	z-index:200;
}
.menu img {
	vertical-align: bottom;
	margin: 0px;
}

.menu > li:hover > ul
{
	display: block;
}

/******* search box *******/

.searchbox { 
	padding-bottom: 10px;
	margin-bottom: 10px;
	border-bottom: solid 1px #ccc;
}

.userbox {
	width: 300px;
	float: left;
	margin-right: 10px;
	margin-bottom: 10px;
}
.userbox img {
	float: left;
	height: 40px;
	margin-right: 4px;
}
.formlabel {
	width:180px;
	display:inline-block;
}

/********* PAGES AND TABS **********/

.pages > .page {
	border: solid 1px #ccc;
	display: none;
	padding: 10px;
}
.pages > .active {
	display: block;
}
.buttons > .button {
	padding: 8px;
	margin-top: 10px;
	margin-right: 10px; 
	background: #ccc;
	border-bottom: solid 1px #ccc;
}
.buttons > .active {
	background: none;
	border: solid 1px #ccc;
	border-bottom: none;
	outline: solid 1px white;
}

/* should these be in base template? */
.page > p {
	margin-top:0px;
}


/********** UTILITY **********/

.noborder {
	border:none !important;
}
.nopadding {
	padding:0px !important;
}

.floatleft {
	float:left !important;
}
.controls,
.floatright
{
	float:right !important;
}

.floatlist {
	list-style:none;
	padding-left:0px;
	margin-top:0px;
	margin-bottom:0px;
}
.floatlist > li {
	float:left;
}

ul.nonlist
{
	list-style: none;
	padding-left: 0px;
}

.show {
	display: block;
}

.hide {
	display: none;
}

.chevron {
}

.underline {
}

.clearfix {
	clear:both;
}

.clearfix:after
{
    content: "."; 
    display: block; 
    height: 0; 
    clear: both; 
    visibility: hidden;	
}

/* unselectable elements */

.clickable
{
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
}

.s {
	background: #eee;
}

/* EMEN2 layouts */

.e2-layout-edit {
	display:inline-block;
}
.e2-layout-fw {
	display:block;
	width:100%;
}

/************* JQUERY UI OVERRIDES ************/

.ui-autocomplete {
	max-width: 300px;
	max-height: 300px;
	overflow-y: auto;
}
/* IE 6 doesn't support max-height
 * we use height instead, but this forces the menu to always be this tall
 */
* html .ui-autocomplete {
	height: 300px;
}
