/***** BOXER ******/

.e2-box-img {
}

.e2-box-box {
	z-index: 100;
	position: absolute;
	top: 0px;
	left: 0px;
	border: solid red 1px;
	width: 10px;
	height: 10px;
}

.e2-box-hover {
	outline: solid red 5px;
}

.e2-box-boxarea {
	height: 25px;
	padding: 4px;
}

.e2-box-boxarea .e2-box-img {
	border-style: solid;
	border-width: 2px;
	margin: 0px;
	margin-right: 2px;
	margin-bottom: 2px;
}

.e2-tile .e2-tile-controls {
	display: block;
	position: absolute;
	top: 20px;
	right: 0px;
	padding: 5px;
	z-index: 100;
	border-right-style: dashed;
	border-right-width: 1px;
	text-align: center;
	background:#eee;
}

/* tiny */
.e2-tile .label {
	font-size: 8pt;
	text-align: center
}

.e2-tile .controls {
	margin: 0px;
	display: block;
	padding: 0px;
	width: 565px;
	position: absolute;
	top: 0px;
	right: 0px;
	height: 100%;
	overflow: auto;
}

.e2-tile {
	z-index: 0;
	height: 100%;
	position: relative;
	overflow: hidden;
}

.e2-tile-outer {
	position:relative;
	border-bottom:solid 1px #ccc;
}