/*****************************************************
			* Colors *
*****************************************************/

/* #446699; */
body,
#alert,
.precontent
{
	background: #BBDAEE;
}

#container {
	background: white;
}

/* Main background color */
.permissions .add, .add
.button
{
	background: #BBDAEE;
}


/* Lighter background color */
.page,
.button_map,
.button_main,
.button_active,
.boxer .controls,
.tilemap .tilemapcontrols,
.recordtable .header,
.ulmactive,
.info,
.infobuttons
{
	background: #E7F1F8; /* #E7F1F8; */
}

/* Light-gray row highlight color */
tr.s,
td.s
{
	background: #f0f0f0;
}

#editbar .active, 
.hidden,
ul.nav li:not(.nohover):hover,
ul.nav li ul li
{
	background:#f4f4f4;
}

.add.removed,
.removed
{
	background: red;
	color: white;
}

.disabled {
	color: #ccc;
}

#alert li,
.notify,
.button_map_active,
.button_main_active,
.page_comments tr.s,
ul.nav li ul li:hover
{
	background: white;
}



/* Border Colors */

h1,
h4,
th,
.tilemap .label,
.searchbox,
.userbox img,
.clickable_box,
.tilemap .tilemapcontrols
{
	border-color: #ccc;
}

.boxarea .boximg {
	border-color: #fff;
}

#alert li,
.notify,
.ulmhover
{
	border-color: #FF8135;
}

.recordtable
{
	border-color: #E7F1F8;
}

.cleared
{
	border-color: blue;
}

.deleted,
.error
{
	border-color: red;	
}


/* Text colors */

a,
.clickable,
.ui-widget-content a
{
	color: #202060;
}

.editable, 
.editable_files .label,
.editable_files.label,
.editable .label,
.editable.label
{
	color: #491F6D;
}

.table .editable {
	color: #000;
}

/* Experiments */
/*#buttons_map {
	display:none;
}
#pages_map {
	padding-top:4px;
	padding-bottom:4px;
}
#buttons_main {
	border-bottom:solid 1px #ccc;
}
#buttons_main li {
	border:solid 1px #ccc;
	border-bottom:none;
}
#buttons_main li.button_active {
	outline:solid 1px white;
}
*/
