/* Darker background color */
body,
#alert,
.precontent,
.button
{
	background: #BBDAEE;
}

/* Lighter background color */
.page,
.button_map,
.button_main,
.button_active,
.boxer .controls,
.tilemap .tilemapcontrols,
.ulmactive,
.info,
.infobuttons
{
	background: #E7F1F8; /* #E7F1F8; */
}

/* White backgrounds */
#alert li,
.notify,
.button_map_active,
.button_main_active,
.page_comments tr.s,
ul.nav li ul li:hover,
ul.nav li ul,
.hidden,
.page_map,
#container 
{
	background: white;
}

/* Light-gray row highlight color */
tr.s {
	background: #f0f0f0;
}
thead tr.s {
	background: #E7F1F8;
}

/* Very light background color */
.editbar .active, 
.hidden,
ul.nav li:not(.nohover):hover,
ul.nav li ul li
{
	background:#f4f4f4;
}

/* Feedback colors */
.add {
	background: #BBDAEE;
}

.add.removed,
.removed
{
	background: red;
	color: white;
}

.disabled {
	color: #ccc;
}

/* Border Colors */
h1,
h4,
th,
.tilemap .label,
.searchbox,
.userbox img,
.clickable_box,
.tilemap .tilemapcontrols
{
	border-color: #ccc;
}
.boxarea .boximg {
	border-color: #fff;
}

#alert li,
.notify,
.ulmhover
{
	border-color: #FF8135; /* orange */
}

.cleared
{
	border-color: blue;
}

.deleted,
.error
{
	border-color: red;	
}


/* Text colors */
a,
.clickable,
.ui-widget-content a
{
	color: #202060;
}

/* "Editable" color */

.editable, 
.editable_files .label,
.editable_files.label,
.editable .label,
.editable.label
{
	color: #491F6D;
}
