
.widget_inplace {
	background:white;
	border:solid 2px #ccc;
	padding:0px;
	margin:0px;
	position:absolute;	
	z-index:110;
}
.widget_inplace input, .widget_inplace textarea {
	background:#f0f0f0;
	color:black;
	padding:5px;
	border:none;
}
.widget_inplace select {
	padding:4px;	
	background:#f0f0f0;
	border:none;
}
.widget_inplace input, .widget_inplace select {
	float:left;
}
.widget_list input {
	border-bottom:solid 1px white;
}
.widget_inplace .controls {
	float:left;
}
.widget_inplace .controls input {
	margin:0px;
	margin-left:4px;
	padding:4px;
	border:none;
	border-left:solid 2px #ccc;
	height:auto;
}
.record_editbar .controls {
}


/***********************/

.label {
	width:300px;
	display:block;
	float:left;
}

.imgbutton {
	padding:2px;
	background:#eee;
	border:solid 1px #ccc;
}
.imgbutton img {
	vertical-align:middle;
	margin:2px;
}

td {
	vertical-align:top;
}
.autherror {
	color:red;
}
.shaded td {
	background:#ccc;
}
.recordtable {
	background:white;
}
/***************/

.home_opts {
	position:absolute;
	top:20px;
	left:0px;
	width:240px;
	padding:20px;
	border-right:solid 1px #ccc;
}

.home_info {
	position:absolute;
	top:20px;
	left:280px;
	/*width:700px;*/
	padding:20px;
}
.home_info .small {
	padding-top:10px;
	border-bottom:solid 1px #ccc;
}
.home_info p {
	margin:4px;
	margin-bottom:10px;
}
.home_userinfo_name {
	font-size:20pt;
	margin-bottom:10px;
	border-bottom:dashed 1px #ccc;
}



.home_opts img {
	padding:20px;
	width:200px;
}
.home_opts_opts {
	margin-top:20px;
}
.home_userinfo_noimg {
	width:160px;
	height:260px;
	margin-right:20px;
	background:white;
	padding:20px;
	border:solid 1px #ccc;
}
#home_upload_person_photo {
	display:none;
}


.home_projects {
	margin-top:50px;
}	


.admin_userqueue_table th, .admin_userlist th {
	padding:5px;
	text-align:left;
	font-weight:normal;
	border-bottom:solid 1px #CCC;
}

/***************/


.relationshipcontrol_pc span {
	padding:4px;
}

.relationshipcontrol_controls_title {
	border-bottom:solid 1px red;
}

.relationshipbrowser_container {
	position:fixed;
	z-index:200;
	top:0px;
	left:0px;
	width:100%;
	padding:0px;
	height:100%;
	background:url('/images/transbackground-15.png');
}
.relationshipbrowser_container_inner {
	position:absolute;
	top:100px;
	left:100px;
	width:896px;
}

.relationshipbrowser_title {
	padding:10px;
	background:#BBD9EE;
	width:100%;
	border:solid 2px #BBD9EE;
	border-bottom:none;
}


.relationshipbrowser_tablearea {
	background:white;
	padding:10px;
	border:solid 2px #BBD9EE;
	border-top:none;
	width:100%;
	height:600px;
	max-height:800px;
	overflow:auto;	
}
.relationshipbrowser_table {
	max-height:300px;
	overflow:auto;
	width:300px;
}
.relationshipbrowser_table td {
}
.relationshipbrowser_info {
	width:250px;
	padding-left:5px;
	padding-right:5px;
	padding-bottom:5px;
}
.relationshipbrowser_info_view {
	border:solid 2px #ccc;
	border-top:none;
	font-size:8pt;
	max-height:300px;
	overflow:auto;
}
.relationshipbrowser_info_name {
	background:#eee;
	border:solid 2px #ccc;
	border-bottom:none;
	padding:5px;
}
.relationshipbrowser_info_view td {
	padding:2px;
}


.record_deleted {
	width:400px;
	padding:5px;
	background:white;
	margin:0px;
	margin-left:20px;
	margin-bottom:10px;
	border:solid 4px #FF8135;	
}



.page_query {
	width:auto;
}
.page_comments, .page_attachments, #page_query_form, #page_query_text {
	width:800px;
}

#page_comments_relationships .map {
	width:100%;
}

td .editable {
	color:#202060;
}
td .editable:hover {
	background:none;
	color:#202060;
}

.record_editbar {
	padding:0px;
	padding-top:0px;
	margin-bottom:10px;
}

.record_editbar_item, .record_editbar .controls {
	float:left;
	height:20px;	
	font-size:10pt;
	/* background:#EEEEEE; */
	/* color:#783766; */
	color: #555;
	padding:4px;
	margin:0px;
	/* border-bottom:solid 1px #CCC; */
	border-right:solid 1px #CCC;
	/* border:solid 1px #CCC; */
	z-index:6;
}
.record_editbar div:last-child {
	/*border-right:none;*/
} 
.record_editbar_img {
	vertical-align:middle;
	margin:0px;
}
.record_editbar div select, .record_editbar div input  {
	padding:0px;
	height:18px;
	vertical-align:middle;
}
.record_editbar_border_bottom {
	border-top:none;
	border-bottom:solid #CCC 1px;
}
.record_editbar_no_border_bottom {
	border-top:solid #CCC 3px;
	border-left:solid #CCC 2px;
	border-right:solid #CCC 3px;
}
.record_editbar_hidden {
	padding:10px;
	display:none;
}
.record_editbar_hidden {
	display:none;
	position:absolute;
	width:200px;
	height:300px;
	overflow:auto;
	background:white;
	top:44px;
	margin-left:-7px;
	margin-top:0px;
	border:solid 3px #CCC;
	border-top:none;
	padding:10px;
}
#record_editbar_menu_relationships {
	left:100px;
	width:800px;
	height:600px;
}
#record_editbar_menu_upload {
	width:300px;
	height:100px;
}
#record_editbar_menu_permissions {
	left:100px;
	width:800px;
	height:600px;
}
#record_editbar_menu_newrecord ul {
	list-style:none;
	margin:0px;
	padding:0px;
}

.permissions_savearea {
	border-top:solid 2px #ccc;
	padding-top:10px;
	margin-top:10px;
}

a img {
	border:0px;
}

.users_navbar {
	border:solid 1px #ccc;
	text-align:center;
	width:800px;
}
.users_navbar a {
	padding:5px;
}

.users_table td {
	width:200px;
}

.singlepage {
	padding:20px;
	padding-bottom:100px;
}




.commentswidget_controls {
	margin-bottom:10px;
}

.listwidget_add, .listwidget_remove {
	vertical-align: middle;
	padding:5px;

}

.precontent .map {
	background:white; 
	margin-left:20px;
	margin-right:10px;
	padding-top:5px;
	padding-bottom:5px;

}

.map {
	font-size:10pt;
/*	background:white; */
}
.map td {
	margin-left:3px;
	margin-right:3px;
	min-width:32px;
}
.map td.next {
	max-width:32px;
	width:32px;	
	background:url("/images/next.png") center center;
}
.map td.next_reverse {
	max-width:32px;
	width:32px;	
	background:url("/images/next.png") center center;
}
.map td.branch_next {
	max-width:32px;
	width:32px;	
	background:url("/images/branch_next.png") center center;
}
.map td.branch_up {
	max-width:32px;
	width:32px;	
	background:url("/images/branch_up.png") center center;
}
.map td.branch_spacer {
	max-width:32px;
	width:32px;	
	background:url("/images/branch_spacer.png") center center;
}
.map td.branch_both {
	max-width:32px;
	width:32px;	
	background:url("/images/branch_both.png") center center;
}
.map td.branch_next_reverse {
	max-width:32px;
	width:32px;	
	background:url("/images/branch_next.reverse.png") center center;
}
.map td.branch_up_reverse {
	max-width:32px;
	width:32px;	
	background:url("/images/branch_up.reverse.png") center center;
}
.map td.branch_spacer_reverse {
	max-width:32px;
	width:32px;	
	background:url("/images/branch_spacer.reverse.png") center center;
}
.map td.branch_both_reverse {
	max-width:32px;
	width:32px;	
	background:url("/images/branch_both.reverse.png") center center;
}
.map td.blank {
	
}
.map td.editablelink:hover {
	background:url("/images/remove.png") center center;
	repeat-x: none;
	repeat-y: none;
}


.widget ul {
	list-style:none;
	margin:0px;
	padding:0px;
}

#permissions {
}

.user {
	font-size:10pt;
	margin:0px;
	padding:0px;
	margin-right:5px;
	margin-top:5px;
}

.user_removed {
	clear:both;
}
.user_removed .user {
	float:left;
}
.user_level ul {
	list-style:none;
	padding:0px;
	margin:0px;
	margin-right:6px;
	min-height:100px;
	/*
	max-height:400px;
	overflow:auto;*/
	width:180px;
}
.user_level ul li {
	padding:0px;
	margin:0px;
	margin-right:5px;
	margin-top:5px;
}
.user .action {
	background:#BBD9EE;
	padding:2px;
	border:solid #BBD9EE 1px;
	display:block;
	float:left;
}
.user .name {
	display:block;
	float:left;
	min-width:130px;
	padding:2px;
	padding-left:4px;
	padding-right:6px;
	border:solid #BBD9EE 1px;
	background:white;
}
.changed .action {
	background: #FF8135;
	border:solid #FF8135 1px;
}
.changed .name {
	border:solid #FF8135 1px;
}
.removed .action {
	background: red;
	border:solid red 1px;
}
.removed .name {
	border:solid red 1px;
}
.reassigned .action {
	background: #fdff4b;
	border:solid #fdff4b 1px;
}
.reassigned .name {
	border:solid #fdff4b 1px;
}

.user_level {
	float:left;
	margin-top:4px;
	padding-top:4px;
	padding-bottom:4px;
}

.user_outer {
	margin-top:5px;
}

.user_add, .relationship_add {
	width:586px;
	border:solid 2px #BBD9EE; 
	padding:10px;
	background:white;
}

.inherittable {
	width:600px;
}
.inherittable th {
	background:#BBD9EE;
	padding:4px;
	font-size:10pt;
	border-right:solid 2px white;
}
.inherittable td {
	background:white;	
}
.inherittable td:first-child {
	border-left:solid 2px #BBD9EE;
}
.inherittable td:last-child {
	border-right:solid 2px #BBD9EE;
}
.inherittable tbody tr:last-child td {
	border-bottom:solid 2px #BBD9EE;
}




/* autocomplete */

ul.jq-ui-autocomplete {
	z-index:120;
	max-height:400px;
    position: absolute;
    overflow: auto;
    background-color: #fff;
    border: 1px solid #aaa;
    margin: 0px;
    padding: 0;
    list-style: none;
    font: normal .75em/.75em Verdana, Arial, sans-serif;
    color: #333;
	width:300px;
}
ul.jq-ui-autocomplete li { 
  display: block; 
  padding:4px;
  width:95%;
  overflow: hidden;
  line-height:150%;
}

ul.jq-ui-autocomplete li.active { 
  background-color: #3875d7; 
  color: #fff;
}



/* end autocomplete */

.editable {
	padding:2px;
	padding-bottom:0px;
	font-weight:normal;
	color:#783766;
}

.editable img {
	border-bottom:dotted #783766 1px;
}
.editable:hover {
	/*background:#783766;
	color:white; */
	border-bottom:dotted 1px #783766;
}

.show {
	display:block;
}

ul {
	margin:0px
}


/* remove */
.floatleft {
	float:left;
}
.floatright {
	float:right;
}


/* 
=============================================================
INPUT ELEMENTS 
=============================================================
*/

/*

input, textarea, select {
	margin:2px;
	padding:2px;
	border:solid 1px #CCC;
}

*/



textarea {
	display:block;
}

/*

input {
	display:inline;
	color:#783766;

}
*/



/* 
=============================================================
BLOCK ELEMENTS
=============================================================
*/

body {
	font-family: arial, Verdana, Helvetica, sans-serif;
	margin:0px;
	padding:0px;
	/* background:#BBD9EE; */
}

html,body {
	height:100%;
}

#container {
	position:relative; 
	min-height:100%;
	background:white;
}

#precontent, .precontent {
	background: #BBD9EE; /* #DCEFEE #D3C7A6; */
}

#bottom {
	/*display:none;*/
	background:#BBD9EE; 
	font-size:10px;
	position:absolute;
	margin:0px;
	padding:0px;
	bottom:0px;
	width:100%;
}
#bottom img {
	float:left;
}


#content {
	display:block;
	position: relative;
	overflow: none;
	padding:5px;
	padding-bottom:60px;

}

.navtable {		
	margin:0px;
	margin-left:20px;
	margin-right:20px;
	margin-bottom:10px;
	background:white;
	padding:5px;
}







/* alerts */
#alert {	
	position:fixed;
	top:0px;
	z-index:10;
	margin:0px;
	margin-top:30px;
	list-style:none;
	padding-left:0px;
}
#alert li {
	float:left;
	clear:both;
	padding:5px;
	background:white;
	margin:0px;
	margin-left:35px;
	margin-bottom:10px;
	border:solid 4px #FF8135;
}


/*
=============================================================
NAV MENU
=============================================================
*/

#nav {
	height:20px;
	padding-top:20px;
	padding-left:20px;
	list-style:none;
	/* background: #DCEFEE;*/
	/* border-bottom:solid 1px white; */
	/*margin-bottom:15px;*/
}
#nav li {
	float:left;
	padding-left:5px;
	padding-right:5px;
	/* background:#DCEFEE; */
	border-right:solid 2px #DCEFEE;
}
#nav li:hover {
	background:#E7F1F8;
}
#nav li:last-child {
	border-right:none;
}	
#title {
	margin:0px;
	margin-left:20px;
	margin-right:20px;
	margin-bottom:8px;
	padding-left:8px;
	background:white;
}

#title a {
}
#title img { 
	border:solid 0px;
	float:left;
}


/* 
=============================================================
PAGE / TAB
=============================================================
*/

/* recordview, .buttons:after */
.clearfix:after, .page:after, #permissions:after, #alert:after, #nav:after, .buttons_main:after, .page_main:after, .table_header:after {
    content: "."; 
    display: block; 
    height: 0; 
    clear: both; 
    visibility: hidden;	
}
.clearfix_left:after {
   content: "."; 
    display: block; 
    height: 0; 
    clear: left; 
    visibility: hidden;		
}


/* all */

/* all pages */
.pages {
	clear:left;
	margin-bottom:20px;
}

.page {
	background:#E7F1F8;	
/*	width:800px; */
	padding:10px;
	display:none;
}
.page_active {
	display:block;
}
/* all buttons */
.buttons ul {
	padding-left:20px;
	list-style:none;
}
.buttons ul li {
	float:left;
	margin-right:10px;
}	
.button {
	padding:10px;
	background:#BBD9EE;
}
.button_active {
	background:#E7F1F8;
}


/* main */
#buttons_main {
	padding-top:10px;
}
.button_main {
	margin-top:-5px;
	background:#E7F1F8;
}
.button_main_active {
	background:white;
}
#button_main_mainview {
	margin-top:-15px;
	padding:15px;
}
.page_main {
	width:auto;
	background:white;
	padding-bottom:20px;
}
#page_main_mainview {
	display:block;	
}
#page_main_allview {
	padding-bottom:0px;
}

.page_newrecord {
	background:none;
}

/* 
=============================================================
SIDEBAR
=============================================================
*/
#sidebar {
/*	border-left:solid 1px; */
	padding:0px;
	padding-right:0px;
/*	width:100px; */
	float:right;  
/*	position:absolute;  */
	background:white; 
	line-height:150%;
/*	background: url('images/transbackground.png'); */
}
#sidebar ul {
	list-style:none;
	padding:0px;
	margin:0px;
	margin-bottom:20px;
}
#sidebar ul li {
	-moz-user-select: none;
	color:grey;
/*	padding:0px;
	margin:0px; */
}
#sidebar ul li strong, #sidebar a {
	font-weight:normal;
	cursor:pointer;
	padding:5px;
	margin-left:0px;
	color:#202060;
}
.sidebar_active {
	background:#F0F0F0;
	display:block;
}	
#sidebar .sidebar_box {
	/*display:none;	*/
	background:#F0F0F0;
	margin-bottom:10px;
	padding:5px;
}
.sidebar_box p {
	margin:0px;
	padding:5px;
}


#sidebar_files, #sidebar_views {
	margin:0px;
	padding:0px;
	line-height:125%;
}
#sidebar_files li, #sidebar_views li {
	margin-left:25px; 
	list-style-type:circle;
}


#imagepreview {
	text-align:center;
	background:#E7F1F8; 
}
#imagepreview_img {
	line-height:0px;
}


#cousin_buttons {
	text-align:right;
	height:35px;
}
#cousin_buttons a {
	border-top:solid 1px #BBD9EE;
	border-bottom:solid 1px #BBD9EE;	
}
#cousin_buttons a:first-child {
	background:#BBD9EE;
}
#cousin_buttons a:last-child {
	background:#BBD9EE;
}
#cousin_buttons .middle {
	background:none;	
}

/* tile browser */

#outerdiv { height: 512px; width:512px; border: 1px solid black; position:relative; overflow:hidden; }
#innerdiv { position:relative; left: 0px; right: 0px; }




/* 
=============================================================
TABLES
=============================================================
*/

td {
	padding:4px; 
}

tr.s {
	background:#F0F2FF;
}

table.groupview {
	width:100%;
}
table.groupview th {
	border-left:solid 2px #E7F1F8;
	border-top:solid 2px #E7F1F8;
	border-bottom:solid 2px #E7F1F8;
}
table.groupview th:first-child {
	border-left:none;
}
.table_span {
	padding:5px;
	float:left;
	margin:5px;
}

/* Arrows */
.table_arrows {
	margin:5px;
	padding:5px;
	float:right;
}
.recordtable {
	border:solid 2px #E7F1F8;
}
.recordtable input {
/*	margin:10px; */
}

.table_header {
	margin:0px;
	font-weight:normal;
	background:#E7F1F8;
}

.navtable tr {
}
.navtable a {
	background:white;
	padding-right:5px;
	padding-left:5px;
  	display:block;
	float:left;
}
.navtable td.wt {
	vertical-align: middle;
	background: url('/images/line.png') repeat-x;
	background-position: center center;
}
.navtable td.wt_r {
	float:none;
}
.navtable td.wt_a {
	height:32px;
	width:32px;
	background-position:center center no-repeat;
	
}
.navtable td.wt_child {
	width:32px;
	background:url('/images/addchild.png')  no-repeat;
	background-position:center center;
}
.navtable td.wt_parent {
	width:32px;
	background:url('/images/addparent.png') no-repeat;
	background-position:center center;
}
.navtable td {
	font-size:12px;
	margin:0px;
	padding:0px;
/*	border:solid 1px red; */
}
.navtable img {
	display:block;
}

/*
=============================================================
IMAGES
=============================================================
*/

/* 
=============================================================
TEXT ELEMENTS 
=============================================================
*/

.small { 
	line-height:120%;
	font-size:10pt;
}
.small2 {
	font-size:10pt;
}

a,.jslink {
	cursor:pointer;
	text-decoration:none;
	color:#202060;
}
.jslink img {
	vertical-align: middle;
}
.jslink_box {
	padding:2px 6px;
	padding:5px;
	cursor:pointer;
	color:grey;
	border:solid 1px lightgrey;	
}
.jslink_box_active {
	border:none;
	color:purple;
	cursor:default;
}

a.difflink {
	font-style:italic;
}
a.difflink:after {
/*	content: url("/images/jump.gif") */
}

h1 {
	line-height:135%;
	border-bottom:solid 1px;
	margin:0px;
	padding:0px;
}

h2 {
	max-width:800px;
	line-height:135%;
	border-bottom:dotted 1px;
	margin:0px;
	margin-top:20px;
	padding:0px;
}

h3 {
	margin-top:0px;
}

h5, h6 {
	font-weight:normal;
	font-style:italic;
	font-size:10pt;
	padding:0px;
	margin:0px;
	margin-bottom:10px;
	padding-top:10px;
	border-bottom:solid 1px;
}
h6 {
	display:inline;
}

p.small {
	font-size:10pt;
	margin-top:0px;
	margin-bottom:0px;
}


.page_comments p {
	margin-top:2px;
}
.page_comments strong {
	font-size:10pt;
	font-weight:normal;
	font-style:italic;
	margin:0px;
	padding:0px;
	border-bottom:solid 1px black;
}





/* colors

#BBD9EE;
#783766;
#E7F1F8;
#F0F2FF;

*/



/* *************************
     rounded corners
 ************************** */


/* all */
/* .relationshipbrowser_container, */
.precontent .map, #alert li, .navtable, #imagepreview, .tooltip, .child, .roundwhitebox, .page, div.sidebar, .browser {
	-moz-border-radius:8px;
	-webkit-border-radius:8px;
}

/* top only */
/* .relationshipbrowser_title, .relationshipbrowser_info_name,  */
#edit_parentmap, #sidebar ul li strong, .recordtable,.recordtable h3, .button_main, .button_param, .button_addrecord, .button {
	-moz-border-radius-topright:8px;
	-moz-border-radius-topleft:8px; 
	-webkit-border-top-right-radius:8px;
	-webkit-border-top-left-radius:8px; 	
}
/* bottom only */
.relationshipbrowser_tablearea, #title {
	-moz-border-radius-bottomright:8px;
	-moz-border-radius-bottomleft:8px; 
	-webkit-border-bottom-right-radius:8px;
	-webkit-border-bottom-left-radius:8px; 	
}



/* left only */
.relationshipcontrol_pc .action, .user .action, #cousin_buttons a:first-child { 
	-moz-border-radius-topleft:8px;
	-moz-border-radius-bottomleft:8px;
	-webkit-border-top-left-radius:8px;
	-webkit-border-bottom-left-radius:8px;	
}

/* right only */
.relationshipcontrol_pc .name, .user .name, #cousin_buttons a:last-child
{
	-moz-border-radius-topright:8px;
	-moz-border-radius-bottomright:8px;
	-webkit-border-top-right-radius:8px;
	-webkit-border-bottom-right-radius:8px;
}

/* other */
li.sidebar_box {
	-moz-border-radius-topright:8px;
	-moz-border-radius-bottomleft:8px;
	-moz-border-radius-bottomright:8px;
	-webkit-border-top-right-radius:8px;
	-webkit-border-bottom-left-radius:8px;
	-webkit-border-bottom-right-radius:8px;	
}

/* top left */
.inherittable th:first-child {
	-webkit-border-top-left-radius:8px;
	-moz-border-radius-topleft:8px;
}

/* top right */
.inherittable th:last-child {
	-webkit-border-top-right-radius:8px;
	-moz-border-radius-topright:8px;
	border-right:none;
}

.page_main {
/*	background:red; */
}

.page_recordview {
	background:white;
}



/*******/

.table_keys_menu {
	display:none;
	position:absolute;
	width:200px;
	margin-top:0px;
	background:white;
	border:solid #ccc 3px;
	border-top:none;
}
.table_keys_menu ul {
	list-style:none;
	padding:10px;
	line-height:100%;
}
.table_keys_menu ul li {
	margin:0px;
	padding:0px;
}
.table_keys_menu input {
	margin:4px;
}