/************* JQUERY UI OVERRIDES ************/

.ui-widget-content a {
	color:#202060;
}
.ui-widget-header {
	border:none;
}
.ui-dialog {
	padding:0px;
	border:solid #66a3ce 5px;
}
.ui-dialog-titlebar {
	-moz-border-radius:0px;
}
.ui-corner-all {

}
/*
.ui-widget-content {
	border:solid 2px #BBD9EE;
}
*/
.ui-widget input, .ui-widget select, .ui-widget textarea, .ui-widget button {
	font-size:10pt;
}
.ui-progressbar-value {
	background-image: url('/images/pbar-ani.gif');
}
.ui-widget-header {
	border:none;
}

/*#progress {
	border:none;
}
*/
.ui-progressbar {
	height:1em;
}
.ui-progressbar .ui-progressbar-value  {
	margin:0px;
}


.bigbutton input {
	background:orange;
	color:white;
	font-weight:bold;	
	border:solid 2px #ccc;
	font-size:12pt;
	padding:10px;
	margin-left:20px;
}


/* .page_comments h4, .ui-dialog h4 { */
h4 {
	font-size:12pt;
	border-bottom:solid 1px #ccc;
	margin:0px;
	margin-top:10px;
	margin-bottom:5px;
	padding:0px;
	width:auto;
}


.controls {
	display:none;
}
.tiles .slider {
	width:512px;
}
/*.error {
	color: red;
}
*/

.shadow {
	border-bottom:solid 1px #ccc;
}
.shadow_top {
	border-top:solid 1px #ccc;
}


.relationships {
}

.relationships div {
}

.browser .map .m {
	display:block;
	width:200px;
}


.files img.thumbnail {
	vertical-align:top;
	border:0px;
	padding:4px;
	padding-top:0px;
}

.boximg {
/*
	margin:2px;
	border:solid red 2px;
*/
}
.boxbox {
	z-index:100;
	position:absolute;
	top:0px;
	left:0px;
	border:solid red 1px;
	width:10px;
	height:10px;
}
.boxhover {
	outline: solid #BBD9EE 5px;
}
.boxarea {
	height:25px;
	padding:4px;
}
.boxarea .boximg {
	border:solid #FFFFFF 2px;
	margin:0px;
	margin-right:2px;
	margin-bottom:2px;
}
.boxarea-active {
	background:#ccc;
}
.tiles .imgarea {
	
}
.boxercontrols {
	background:#E7F1F8;
	padding:0px;
	width:690px;
	z-index:100;
	position:absolute;
	top:0px;
	right:0px;
}
.tilemap {
	z-index:0;
	width: 100%;
	height: 100%;
	border: 1px solid black;
	position:relative;
	overflow:hidden;
}
#boxer {
	position:relative;
}


/************* USER PROFILE DISPLAY **************/

.userbox {
	padding:0px;
	padding-right:10px;
	padding-bottom:10px;
	width:300px;
	float:left;
}
.userbox img {
	float:left;
	width:30px;
	height:30px;
	border:solid 1px #ccc;
}
.userbox div {
	margin-left:40px;
}
/* .ui-dialog  */
.searchbox { 
	margin-bottom:10px;
	padding-bottom:10px;
	border-bottom:solid 1px #ccc;
}
/* .ui-dialog */
.status {
	float:right;
}




/************* NOTIFICATION BOXES ************/

.validationerror {
	border:solid red 1px;
}

.deleted {
	padding:5px;
	background:white;
	margin:0px;
	margin-left:20px;
	margin-bottom:10px;
	border:solid 4px red;
}

/* alerts */
#alert {	
	/*
	position:fixed;
	top:0px;
	z-index:10;
	margin:0px;
	margin-top:30px;
	*/
	list-style:none;
	padding-left:0px;
}

#alert li {
	/*float:left;*/
	clear:both;
	width:600px;
	padding:5px;
	background:white;
	margin:0px;
	margin-left:20px;
	margin-bottom:10px;
	border:solid 4px #FF8135;
}

#alert li.error {
	border:solid 4px red;	
}

#alert li .kill {
	float:right;
}


/************* BOX EDITOR ************/


.boxedit {
	border:solid blue 1px;
	position:relative;
	padding:0px;
	width:512px;
	height:512px;
	background:url('/images/test.jpg');
}


/************* UPLOAD  ************/


#progress_report_bar_container {
	width: 400px;
	height: 20px;
	border:solid 1px #ccc;
}


/************* GRAPH EDITOR ************/


div.color_picker {
  float: right;
  height: 16px;
  width: 16px;
  padding: 0 !important;
  border: 1px solid #ccc;
  background: url(/images/arrow.gif) no-repeat top right;
  cursor: pointer;
  line-height: 16px;
}

div#color_selector {
  width: 110px;
  position: absolute;
  border: 1px solid #598FEF;
  background-color: #EFEFEF;
  padding: 2px;
}
  div#color_custom {width: 100%; float:left }
  div#color_custom label {font-size: 95%; color: #2F2F2F; margin: 5px 2px; width: 25%}
  div#color_custom input {margin: 5px 2px; padding: 0; font-size: 95%; border: 1px solid #000; width: 65%; }

div.color_swatch {
  height: 12px;
  width: 12px;
  border: 1px solid #000;
  margin: 2px;
  float: left;
  cursor: pointer;
  line-height: 12px;
}

.figure {
	margin:0px;
	padding:0px;
}
.figure td {
	margin:0px;
	padding:0px;
}
.vertical {
	display:block;
	margin:300px;
	margin-right:0px;
	margin-left:0px;
	-webkit-transform: rotate(-90deg); 
	-moz-transform: rotate(-90deg);
	filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}
.figure_label {
	font-weight:bold;
}
.figure_title {
	font-size:18pt;
}
	




/************* LABELS  ************/

.form .label {
	width:300px;
	display:block;
	float:left;
}

.imgbutton {
	padding:2px;
	background:#eee;
	border:solid 1px #ccc;
}
.imgbutton img {
	vertical-align:middle;
	margin:2px;
}

td {
	vertical-align:top;
}
.autherror {
	color:red;
}
.recordtable {
	background:white;
}



/************* HOME PAGE  ************/


.home_opts img, .home_profilephoto {
	margin:20px;
}

.home_opts_opts {
	margin-top:20px;
}

.home_userinfo_noimg {
	width:160px;
	height:260px;
	margin-right:20px;
	background:white;
	padding:20px;
	border:solid 1px #ccc;
}

#home_upload_person_photo {
	display:none;
}

.home_projects {
	margin-top:50px;
}	

.admin_userqueue_table th, .admin_userlist th, .plotparams th {
	padding:5px;
	text-align:left;
	font-weight:normal;
	border-bottom:solid 1px #CCC;
}


/********** RECORD EDIT BAR ***********/

.editbar {
	padding:0px;
	padding-top:0px;
	list-style:none;
}

.editbar li {
	float:left;
	font-size:10pt;
	color: #555;
	padding:4px;
	border-right:solid 1px #CCC;
	border-bottom:solid 1px #CCC;
	z-index:6;
}
.editbar li:last-child {
	border-right:none;
} 
.editbar img {
	vertical-align:middle;
	margin:0px;
}

.editbar .clickable {
   cursor: pointer;
}




/************* RECORD MAP  ************/

.precontent .map {
	padding:4px;
	margin:10px;
	margin-top:0px;
	width:auto;
}

table.map {
	background:white; 
	float:left;
}

.map {
	font-size:10pt;
}
.map td {
	margin-left:3px;
	margin-right:3px;
}
.map td.next {
	max-width:32px;
	width:32px;	
	background:url("/images/next.png") center center;
}
.map td.next_reverse {
	max-width:32px;
	width:32px;	
	background:url("/images/next.png") center center;
}
.map td.branch_next {
	max-width:32px;
	width:32px;	
	background:url("/images/branch_next.png") center center;
}
.map td.branch_up {
	max-width:32px;
	width:32px;	
	background:url("/images/branch_up.png") center center;
}
.map td.branch_spacer {
	max-width:32px;
	width:32px;	
	background:url("/images/branch_spacer.png") center center;
}
.map td.branch_both {
	max-width:32px;
	width:32px;	
	background:url("/images/branch_both.png") center center;
}
.map td.branch_next_reverse {
	max-width:32px;
	width:32px;	
	background:url("/images/branch_next.reverse.png") center center;
}
.map td.branch_up_reverse {
	max-width:32px;
	width:32px;	
	background:url("/images/branch_up.reverse.png") center center;
}
.map td.branch_spacer_reverse {
	max-width:32px;
	width:32px;	
	background:url("/images/branch_spacer.reverse.png") center center;
}
.map td.branch_both_reverse {
	max-width:32px;
	width:32px;	
	background:url("/images/branch_both.reverse.png") center center;
}
.map td.blank {
	
}
.map td.editablelink:hover {
	background:url("/images/remove.png") center center;
	repeat-x: none;
	repeat-y: none;
}





/************* PERMISSIONS EDITOR  ************/

.permissions {

}

.permissions .add {
	background:#BBD9EE;
}

.add.removed, .removed {
	background:red;
	color:white;
}


.permissions .addbutton {
	font-size:8pt;
}

/************* COMMENTS  ************/

.comment {
	margin-bottom:10px;
}

.permissions .level {
	margin-top:10px;
	margin-bottom:10px;
}



/************* INLINE EDITBALE ITEMS  ************/

.editable_files .label, .editable_files.label, .editable .label, .editable.label {
	font-size:10pt;
	padding:2px;
	padding-bottom:0px;
	font-weight:normal;
	color:#783766;
	list-style:none;
}

/*
.editable img {
	border-bottom:dotted #783766 1px;
}
.editable_files:hover, .editable:hover {
	border-bottom:dotted 1px #783766;
}
*/




/* 
=============================================================
INPUT ELEMENTS 
=============================================================
*/


input {
	display:inline;
}


textarea {
	display:block;
}


/* 
=============================================================
BODY, CONTAINERS
=============================================================
*/

body {
	font-family: arial, Verdana, Helvetica, sans-serif;
	margin:0px;
	padding:0px;
	/* background:#BBD9EE; */
}

html,body {
	height:100%;
}

#container {
/*	position:relative;  */
	min-height:100%;
	background:white;
}

#precontent, .precontent {
	background: #BBD9EE; /* #DCEFEE #D3C7A6; */
}

#footer {
	/*display:none;*/
	background:#BBD9EE; 
	font-size:10px;
	/*position:absolute;*/
	margin:0px;
	padding:0px;
	bottom:0px;
	width:100%;
}

#footer img {
	float:left;
}

#content {
	display:block;
	/*position: relative;*/
	overflow: none;
	padding:15px;
	padding-bottom:60px;

}



/*
=============================================================
NAV MENU
=============================================================
*/

#nav {
	height:20px;
	padding-top:20px;
	padding-left:20px;
	list-style:none;
}
#nav li {
	float:left;
	padding-left:5px;
	padding-right:5px;
	border-right:solid 2px #DCEFEE;
}
#nav li:hover {
	background:#E7F1F8;
}
#nav li:last-child {
	border-right:none;
}	
#title {
	margin:0px;
	margin-left:20px;
	margin-right:20px;
	margin-bottom:8px;
	padding-left:8px;
	background:white;
}

#title a {
}
#title img { 
	border:solid 0px;
	float:left;
}


/* 
=============================================================
PAGE / TAB
=============================================================
*/

.clearfix:after, #buttons_main:after, .buttons:after, .pages:after, #permissions:after, #alert:after, #nav:after, .table_header:after {
    content: "."; 
    display: block; 
    height: 0; 
    clear: both; 
    visibility: hidden;	
}
.clearfix_left:after {
   content: "."; 
    display: block; 
    height: 0; 
    clear: left; 
    visibility: hidden;		
}



/******** PAGE DEFAULTS *******/

.pages {
	clear:left;
}
.page {
	background:#E7F1F8;	
	padding:10px;
	display:none;
	width:720px;
}
.page_active {
	display:block;
}


/******* BUTTON DEFAULTS *******/

.buttons ul {
	padding-left:20px;
	list-style:none;
}
.buttons ul li {
	float:left;
	margin-right:10px;
}	
.button {
	padding:10px;
	background:#BBD9EE;
}
.button_active {
	background:#E7F1F8;
}



/******** MAIN PAGE BUTTONS AND PAGES *********/

#buttons_main {
	padding-top:10px;
}

.button_main {
	margin-top:-5px;
	background:#E7F1F8;
}

.button_main_active {
	background:white;
}

#button_main_mainview {
	margin-top:-15px;
	padding:15px;
}

.page_main {
	width:auto;
	background:white;
	padding:0px;
}

#page_main_mainview {
	display:block;	
}


/***** PAGE CONTAINER ******/

.pagescontainer {
	margin-top:20px;
}
#pagescontainer_map {
	margin-top:0px;
	width:auto;
}
#pagescontainer_usertype {
	width:400px;
	float:left;
	padding-right:20px;
}
#pagescontainer_userinfo {
	width:500px;
	float:left;
}
.main {
	max-width:994px;
}

/******* MAP BUTTONS AND PAGES ********/

.page_map {
	background:none;
	margin:0px;
	padding:0px;
}
.page_map span {
	background:white;
}
#buttons_map {
	padding-left:20px;
}
.button_map {
	margin:0px;
	padding-top:0px;
	padding-bottom:0px;
	background:#E7F1F8;
	border-bottom:solid 1px #E7F1F8;
}
.button_map_active {
	background:white;
	border-bottom:dashed 1px #ccc;
}



/******* PROFILE BOXES ********/

.profile_form_label {
	width:120px;
	float:left;
	text-align:right;
	padding-right:10px;
}

.profile_form_item {
	padding:5px;
}

.profile_form_section {
	padding-bottom:10px;
}

.profile_save_box {
	width:400px;
}

.profile_save_box input {
	float:right;
}

.profile_column0 {
	float:left;
	width:300px;
	margin-right:20px;
	border-right:solid 1px #ccc;
	padding-top:20px;
}

.profile_column1 {
	float:left;
	margin-right:20px;		
}

.profile_column2 {
	float:left;
	width:450px;
}

	



/* 
=============================================================
TABLES
=============================================================
*/
table {
	width:100%;
}
table th, table td {
	padding:5px;
}
table th {
	font-weight:normal;
	text-align:left;
	border-bottom:solid 1px #CCC;
}
tr.s {
	background:#F0F2FF;
}






/********* RECORD TABLE ***********/

/* Arrows */
.recordtable {
	border:solid 2px #E7F1F8;
}

.recordtable input {
/*	margin:10px; */
}

.recordtable table th {
	border-left:solid 2px #E7F1F8;
	/*border-top:solid 2px #E7F1F8;*/
	border-bottom:solid 2px #E7F1F8;
}

.recordtable table th:first-child {
	border-left:none;
}

.recordtable .header {
	margin:0px;
	font-weight:normal;
	background:#E7F1F8;
}

.recordtable .control {
	padding:6px;
	float:right;
}

.recordtable .description {
	padding:6px;
	float:left;
}






/* 
=============================================================
TEXT ELEMENTS 
=============================================================
*/


.small {
	font-size:10pt;
}
a,.jslink {
	cursor:pointer;
	text-decoration:none;
	color:#202060;
}
.jslink img {
	vertical-align: middle;
}
.jslink_box {
	padding:2px 6px;
	padding:5px;
	cursor:pointer;
	color:grey;
	border:solid 1px lightgrey;	
}
.jslink_box_active {
	border:none;
	color:purple;
	cursor:default;
}


/** headers **/

h1 {
	line-height:135%;
	border-bottom:solid 1px;
	margin:0px;
	padding:0px;
	margin-top:10px;
	margin-bottom:10px;
}
h2 {
	font-size:20pt;
	margin-bottom:10px;
	border-bottom:dashed 1px #ccc;
	max-width:1000px;
	line-height:135%;
}

h3 {
	margin-top:0px;
}

h5, h6 {
	font-weight:normal;
	font-style:italic;
	font-size:10pt;
	padding:0px;
	margin:0px;
	margin-bottom:10px;
	padding-top:10px;
	border-bottom:solid 1px;
}

h6 {
	display:inline;
}



.show {
	display:block;
}
.hide {
	display:none;
}

ul {
	margin:0px
}


/* remove */
.floatleft {
	float:left;
}
.floatright {
	float:right;
}




/************* TABS ************/



ul.nonlist {
	list-style:none;
	text-indent:0px;
	padding:0px;
}

ul.nonlist li {
}



/* colors

#BBD9EE;
#783766;
#E7F1F8;
#F0F2FF;

*/



/* *************************
     rounded corners
 ************************** */


/* all */
/* .modalbrowser_container, */
.capsule, .precontent .map, #alert li, .navtable, .tooltip, .child, .page, .bigbutton input,  .boxercontrols {
	-moz-border-radius:8px;
	-webkit-border-radius:8px;
}

/* top only */
/* .modalbrowser_title, .modalbrowser_info_name,  */
.recordtable, .recordtable h3, .button_main, .button_param, .button_addrecord, .button {
	-moz-border-radius-topright:8px;
	-moz-border-radius-topleft:8px; 
	-webkit-border-top-right-radius:8px;
	-webkit-border-top-left-radius:8px; 	
}
/* bottom only */
.modalbrowser_tablearea, #title {
	-moz-border-radius-bottomright:8px;
	-moz-border-radius-bottomleft:8px; 
	-webkit-border-bottom-right-radius:8px;
	-webkit-border-bottom-left-radius:8px; 	
}



/* left only */
#cousin_buttons a:first-child { 
	-moz-border-radius-topleft:8px;
	-moz-border-radius-bottomleft:8px;
	-webkit-border-top-left-radius:8px;
	-webkit-border-bottom-left-radius:8px;	
}

/* right only */
a:last-child {
	-moz-border-radius-topright:8px;
	-moz-border-radius-bottomright:8px;
	-webkit-border-top-right-radius:8px;
	-webkit-border-bottom-right-radius:8px;
}


.page_recordview {
	max-width:1024px;
	background:white;
}


/*******/

.collapsed * { 
      display:none;
}
.collapsed > a {
      display:block;
}

