#nav a, #nav a:hover {
	text-decoration:none;
	color:#A58D73;
}

a {
	color:#514130;
	text-decoration:none;
}

#content a {
color:#ff793e;
}

#frontpage a {
color:#514130;
}

a:hover {
	color:#FEDE75;
	text-decoration:underline;
}

body {
	background:#D3C7A6; 
/* background:#e9e2c0; */
	margin:0px;
	padding:0px;
	font-family:sans-serif;
	color:#24221B;
}

html,body {
	height:100%;
}

img {
	border:0px;
}

#container {
	position:relative; 
	background:white;
	min-height:100%;
	/*margin-left:30px;
	margin-right:30px;*/
	border-left: medium #908362 solid;
	border-right: medium #908362 solid;
	/* terrible hack for IE. */
	voice-family: "\"}\"";
    voice-family: inherit;
    height: auto;
	width:84%;
	}
html>body #container {
	width:auto;
}


	

#content {
	background:white;
	line-height:130%;
	padding-top:20px;
	padding-left:40px;
	padding-right:20px;
	padding-bottom:100px;
	clear: both;
}

.subfolderlist, .childlist {
	float:left;
	line-height: 50%;
	padding: .5em;
	font-size: 9pt;
}


#title {
	height:82px;
	background:#b1a584;
	float:none;
}

#footer {
	background: #b1a584;
	width:100%;
	border-top: medium #908362 solid;
	padding-top:5px;
	padding-bottom:5px;
	font-size:12px;
	line-height:125%;
	position:absolute;
	z-index: 0;
	bottom:0;
	clear:both;
}

#logo {
	float:left;
	margin-bottom:10px;
	margin-top:10px;
	margin-left:10px;
	margin-right:20px;
}

#nav {
	background:#FCFCF6;
	font-size:14px;
	font-family:sans-serif;
	padding-left:4px;
	height:33px;
}

/********* for misc. page layout ***********/


.smallbox {
	float:left;
	text-align:center;
	height:200px;
	width:240px;
	padding:20px;
}

.smallbox2 {
	float:left;
	text-align:center;
	height:300px;
	padding:20px;
	padding-top:0px;
	border-bottom:dashed 1px;
}

.advisors th, .advisors td {
	padding-left:10px;
	padding-top:5px;
	border-bottom:dotted #CABBAC 1px;
}


/********* forms ***********/

#searchbox {
	margin:0px;
	padding:0px;
	margin-top:20px;
	width:160px;
	float:right;
}

#searchfield {
	font-size: 0.8em;
	background-color: white;
	border: solid 1px #FCFCF6;
	height: 15px;
}
#submitbutton {
	color: #514130;
	font-size: 0.8em;
	font-weight: bolder;
	background: #FCFCF6;
	padding: 1px;
	border: solid 1px #FEDE75;;
	cursor: pointer;
}
/****************************/

/************ drop downs ******************/

#nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
#nav li {
  float: left;
  position: relative;
  padding:7px;
  padding-top:11px;
}

#nav ul ul li {
	float:left;
	width:186px;
}
#nav ul ul li:hover {
	background:white;
}

#nav li ul {
  z-index:10;
  width:200px; 
  background:#FEDE75;
  display: none;
  position: absolute; 
  top: 32px;
  left: 25%;
 }

#nav li:hover {
	background:#FEDE75;
}

#nav li:hover ul { 
	display: block;
}

#nav li:hover ul, #nav li.over ul { /* lists nested under hovered list items */
	display: block;
}

li>ul { /* fix ie */
	top: auto;
	left: 0;
}

/************************************/


h1, h2, h3, h4, h5, h6 {
	clear:both;
}	

h1 {
    padding:0px;
	margin:0px;
	padding-top:10px;
margin-left:-10px;
    margin-bottom:20px;
	border-bottom:solid #CABBAC 1px;
}

h2 {
	width:75%;
	padding:0px;
	margin:0px;
	padding-top:20px;
	margin-left:-10px;
	margin-bottom:20px;
	border-bottom:solid #CABBAC 1px;
}

#content ul {
	list-style-image: url("http://ncmi.bcm.tmc.edu/ncmi/images/bullet_png");
}
#content li {
	padding-bottom:10px;
}

#smalltoplinks {
	margin-top:3px;
	font-size:12px;
}

.bar {
	color:#AAAAAA;
}


#content:after, #title:after, #searchbox:after, .smallboxes:after {
    content: "."; 
    display: block; 
    height: 0; 
    width:0px;
    clear:both;
    visibility: hidden;	
}

/***************/


#frontimage {
	float:left;
}

#frontpage ul {
	margin-left:0px;
	padding-left:0px;
}

#frontpage {
	margin-left:30px;
	letter-spacing:2px;
	float:left;
	line-height:150%;
}

#quicklinks {
	line-height:200%;
}
#directors {
}
#directors div {
	padding-top:20px;
}
#support {
	padding-top:20px;
}

.breadcrumb {
	font-weight: bolder;
	background: #b1a584;/* #DCEFEE; */
	float:none;
	clear:both;
	overflow: hidden;
	/*border-bottom: outset medium #ccc;*/
	border-bottom: medium #908362 solid;
	border-top: medium #908362 solid;
	padding: 2px;
	padding-bottom: 0px;
}

.breadcrumb span a {
	text-decoration: none;
}

.bordered {
	border: thin solid black !important;
}

.parent {
}
.parent:hover {
	background: #888 !important;
}

.breadnav {
	/* border: thin outset black !important; */
	display:block;
	/* background: #D3C7A6; */
	float:left;
	padding: 2px;
	margin-right: 5px;
	margin-bottom: 2px;
	overflow: hidden;
	border-radius: 2px;
	-moz-border-radius: 4px;
}


.menu {
	display: none;
	overflow: hidden;
	-moz-border-radius: 4px;
}

.breadnav:hover {
	background: #888;
}

.breadnav:hover .menu {
	background: #FEDE75;
	border: thin solid black;
	display: block;
	position: absolute;
	z-index: 50;
		color:#A58D73;
	
}


.breadmenu {
	padding: 5px;
	cursor: pointer;
}

.breadcrumb a:hover {
	text-decoration: none !important;
}

.breadmenu:hover {
	padding: 5px;
	background: #888;
}

.breadmenu + .breadmenu {
	border-top: thin solid black;
}

.parent + .child {
	margin-left: 10px;
}