/********* COLORS *************/

/* Darker background color */
body {
	background: #BBDAEE;
}

/* Menu background color */
.menu > li > ul,
.menu .hidden,
.menu > li.hover,
#nav > li:hover:not(.nohover)
{
	 background: #E7F1F8;
}

/* Lighter background color */
.buttons > .active,
#buttons_map > .button,
#buttons_main > .button,
.page
{
	background: #E7F1F8; /* #E7F1F8; */
}

/* White backgrounds */
#buttons_map > .active,
#buttons_main > .active,
#pages_map > .page,
.notify
{
	background: white;
}

/* Feedback colors */
.add {
	background: #BBDAEE;
}

.add.removed,
.removed
{
	background: red;
	color: white;
}

.disabled {
	color: #ccc;
}

/* Border Colors */
h1,
h4,
.searchbox,
tr:last-child th
{
	border-bottom:solid 1px #ccc;
}

.notify
{
	border: solid 2px #FF8135; /* orange */
}

.deleted,
.error
{
	border-color: red;	
}

/* Text colors */
a,
.clickable,
.ui-widget-content a
{
	color: #202060;
}

/* "Editable" color */

.editable, 
.editable_files .label,
.editable_files.label,
.editable .label,
.editable.label
{
	color: #491F6D;
}


/* Light-gray row highlight color */
table.shaded tbody tr:nth-of-type(odd) {
	background: #f0f0f0;
}

th {
	font-weight:normal;
	text-align:left;
	border-right:solid 1px #eee;
}


/********* LAYOUTS *************/
/* body and top level containers */

html,
body
{
	font-family: arial, Verdana, Helvetica, sans-serif;
	margin:0px;
	padding:0px;
	height:100%;
}

/* Title and precontent set a background color */
body > *,
#nav
{
	width:1000px;
	margin-left:auto;
	margin-right:auto;
}
#title {
	width:auto;
	margin-left:0px;
	margin-right:0px;
}
#contentinner {
	padding:10px;
}
#footer {
	display:none;
}

#content,
#title
{
	background:white;
}

#pages_map > .page {
	padding:0px;
}


/************* NOTIFICATION BOXES ************/

.notify {
	border-style: solid;
	border-width: 2px;
	padding: 5px;
	margin: 0px;
	margin-top: 10px;
}
#alert {
	margin-top:0px;
	margin-bottom:10px;
}


/******* TOP LEVEL ELEMENTS *******/

img {
	border: none;
}

img.thumbnail {
	height:64px;
}
h4 {
	margin-top: 5px;
	margin-bottom: 5px;
}
h1 .label {
	padding: 10px;
	float: right;
	display: block;
}
th,
td
{
	padding: 4px;
	vertical-align: top;
}


/************* NAV BAR ************/

#title {
	border-bottom:solid 2px #ccc;
}
#nav a {
	padding:8px;
}
#nav li ul {
	padding:0px;
}
#nav li.divider {
	border-top:solid 1px #ccc;
}
#nav li:last-child ul {
	right:0px;
}
#nav .logo {
	height:36px;
}
#nav input {
	margin-top:4px;
	color: #666;
	font-weight: lighter;
}

#editbar input, #editbar select {
	font-size: 10pt;
	padding: 2px;
	margin: 2px;
	margin-right: 4px;
	margin-left: 4px;
}

.menu > li > ul,
.menu .hidden
{
	-moz-box-shadow: 3px 3px 3px #999;
	-webkit-box-shadow: 3px 3px 3px #999;	
}

/************* EDITBAR ************/

#editbar {
	border-bottom:solid 1px #ccc;
}
#editbar > li {
	border-right:solid 1px #ccc;
	position:relative;
}
#editbar > li:last-child {
	border-right: none;
} 
#editbar .label {
	margin:5px;
	display:inline-block;
}
#editbar {
	background-image: -moz-linear-gradient(#fff, #fff, #eee);
}


/************* PAGES AND TABS ************/

.buttons > .button,
.pages > .page
{
	outline:none;
	border:none;
}


/************* TEXT STYLES ************/

.chevron {
	padding: 3px;
}

.underline {
	height: 10px;
	border-bottom: dotted 1px #ccc;
	width: 50px;
}

.normal, 
h1 .label
{
	font-size: 12pt;
}
.tiny,
#buttons_map
{
	font-size:8pt;
}
.small,
#editbar > li > .label,
.e2-map
{
	font-size:10pt;
}
.big {
}

a,
.clickable
{
	cursor: pointer;
	text-decoration: none;
}

a:hover,
.clickable:hover
{
	text-decoration:underline;
}

/***** LOGIN ********/

table.login {
	margin-top:20px;
	width:auto;
}
table.login td:first-child {
	padding-right:10px;
}
table.login td {
	padding:8px;
	padding-right:25px;
}
table.login td:last-child {
	padding-left:25px;
	padding-right:10px;
	border-left:solid 1px #ccc;
}



/************* CONTROLS ************/

button,
select,
input,
textarea,
label
{
	border-width:1px;
	font-size:12pt;
	margin:4px;
	margin-top:0px;
	padding:2px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
}

button, 
input[type=button],
input[type=submit],
input[type=file],
input[type=password],
input[type=text]
{
	display:inline-block;
}

textarea {
	margin: 0px;
	width: 100%;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
}

textarea, 
input[type=text],
input[type=password]
{
	border:solid 1px #aaa;
}
.save input, 
input.save
{
	color: white;
	border-color: #ccc;
	background: #5B74A8;
}
.cancel input,
input.cancel
{
	background-color: #eee;
	color: #666;
}



/********* ROUNDED CORNERS ************/

/* all */
#pages_map > .page,	
.notify,
.rounded
{
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
}

/* top only */
.button,
.roundtop
{
	-moz-border-radius-topright: 8px;
	-moz-border-radius-topleft: 8px; 
	-webkit-border-top-right-radius: 8px;
	-webkit-border-top-left-radius: 8px; 	
}

.roundbottom
{
	-moz-border-radius-bottomright: 8px;
	-moz-border-radius-bottomleft: 8px; 
	-webkit-border-bottom-right-radius: 8px;
	-webkit-border-bottom-left-radius: 8px; 	
}

/* left only */
.roundleft {
	-moz-border-radius-bottomleft: 8px;
	-moz-border-radius-topleft: 8px; 
	-webkit-border-bottom-left-radius: 8px;
	-webkit-border-top-left-radius: 8px; 	
}
/*#content {
	-moz-border-radius-bottomright: 8px;
	-moz-border-radius-bottomleft: 8px;
	-moz-border-radius-topright: 8px; 
	-webkit-border-bottom-right-radius: 8px;
	-webkit-border-bottom-left-radius: 8px;
	-webkit-border-top-right-radius: 8px; 	
}*/
#editbar {
	-moz-border-radius-topright: 8px; 
	-webkit-border-top-right-radius: 8px; 		
}