html,body {
	height: 100%;
}

a:visited {
	color: #002266;
}

body { /*background:#D3C7A6;*/
	margin: 0px;
	padding: 0px;
	font-family: sans-serif;
	color: #24221b;
	-moz-background-clip: border;
	-moz-background-inline-policy: continuous;
	-moz-background-origin: padding;
	background: #cccccc none repeat scroll 0 0;
}

#nav a,#nav a:hover {
	text-decoration: none;
	color: white;
}
a img {
	border: 0 none;
	margin: 0;
}

a {
	color: #514130;
	text-decoration: none;
}

#content a {
	color: #ff793e;
}

#frontpage a {
	color: #514130;
}

a:hover {
	color: #aaccff;
	text-decoration: underline;
}



img {
	border: 0px none;
}

#container,#content,#footer {
	-moz-background-clip: border;
	-moz-background-inline-policy: continuous;
	-moz-background-origin: padding;
	background: white none repeat scroll 0 0;
}

#footer { /*background: #b1a584;*/
	position: relative;
	width: 100%;
	border-top: 2px solid #cccccc;
	padding-top: 5px;
	padding-bottom: 5px;
	font-size: 12px;
	line-height: 125%;
	z-index: 0;
	bottom: 0;
	clear: both;
}


#container {
	position: relative;
	background: white;
	min-height: 100%;
	margin-left:30px;
	margin-right:30px;
	voice-family: inherit;
	height: auto;
	width: 94%;
/*	margin: auto auto; */
	margin-left: 30px;
	margin-right: 30px;
	margin-top: 0;
}

html>body #container { 
	width:auto;
}

#content {
	background: white;
	line-height: 130%;	
	line-height: 130%;
	padding: 20px 20px 100px 40px;
	clear: both;
}

.subfolderlist,.childlist {
	float: left;
	line-height: 50%;
	padding: .5em;
	font-size: 9pt;
}

#title {
	height: 56px;
	/*background:#b1a584;*/
	background: white;
	float: none;
}

#logo {
	float: left;
	margin: 10px 20px 10px 10px;
}


#nav { /*background:#FCFCF6;*/
	-moz-background-clip: border;
	-moz-background-inline-policy: continuous;
	-moz-background-origin: padding;
	background: #446699 none repeat scroll 0 0;
	z-index: 100;
	font-size: 14px;
	font-family: sans-serif;
	padding-left: 4px;
	height: 33px;
}

/********* for misc. page layout ***********/
.smallbox {
	float: left;
	height: 200px;
	padding: 20px;
	text-align: center;
	width: 240px;
}

.smallbox2 {
	border-bottom: 1px dashed;
	float: left;
	height: 300px;
	padding: 0 20px 20px;
	text-align: center;
}

.advisors th,.advisors td {
	padding-left: 10px;
	padding-top: 5px;
	border-bottom: dotted #cabbac 1px;
}

/********* forms ***********/
#searchbox {
	float: right;
	margin: 10px 0 0;
	padding: 0;
	width: 160px;
}
#searchfield {
	border: 1px solid #cccccc;
	background-color: white;
	font-size: 0.8em;
	height: 15px;
}

#submitbutton {
	-moz-background-clip: border;
	-moz-background-inline-policy: continuous;
	-moz-background-origin: padding;
	background: white none repeat scroll 0 0;
	border: 1px solid #446699;
	color: #446699;
	cursor: pointer;
	font-size: 0.8em;
	font-weight: bolder;
	padding: 1px;
}

h1,h2,h3,h4,h5,h6 {
	clear: both;
}

h1 {
	margin: 0 0 20px -10px;
	padding: 10px 0 0;
	border-bottom: solid #cabbac 1px;
}

h2 {
	margin: 0 0 20px -10px;
	padding: 20px 0 0;
	width: 75%;
	border-bottom: solid #cabbac 1px;
}

#content ul {
	list-style-image: url("http://ncmi.bcm.tmc.edu/ncmi/images/bullet_png");
}

#content li {
	padding-bottom: 10px;
}

#smalltoplinks {
	margin-top: 3px;
	font-size: 12px;
}

.bar {
	color: #aaaaaa;
}

#content :after,#title :after,#searchbox :after,.smallboxes:after {
	content: ".";
	clear: both;
	display: block;
	height: 0;
	visibility: hidden;
	width: 0px;

}

/***************/
#frontimage {
	float: left;
	width: 49%;
}

#frontpage ul {
	margin-left: 0px;
	padding-left: 0px;
}

#frontpage {
	float: right;
	width: 49%;
	margin-left: 30px;
	letter-spacing: 2px;
	line-height: 150%;
}

#quicklinks {
	line-height: 200%;
}

#directors {
	text-align: center;
}

#directors div {
	padding-top: 20px;
}

#support {
	padding-top: 20px;
	position: relative;
}
#mission {
	border-bottom: 2px solid #cccccc;
	padding-bottom: 15px;
}

.breadcrumb {
	background: #b1a584; /* #DCEFEE; */
	background: #446699;
	float: none;
	clear: both;
	overflow: hidden;
	height: 33px;
	padding-left: 4px;
	/*border-bottom: outset medium #ccc;*/
	/*	border-bottom: medium #908362 solid;
	border-top: medium #908362 solid;*/
	/*padding-bottom: 0px;*/
}

.breadcrumb span a {
	text-decoration: none;
}

.bordered {
	border: thin solid black !important;
}

.parent {
	
}

.parent:hover {
	background: #888 !important;
}

.breadnav { /* border: thin outset black !important; */
	display: block;
	/* background: #D3C7A6; */
	float: left;
	margin-right: 5px;
	overflow: hidden;
	border-radius: 2px;
	-moz-border-radius: 4px;
}

.menu {
	display: none;
	overflow: hidden;
	margin-top: -2px;
	-moz-border-radius: 4px;
}

.breadnav:hover {
	background: #888;
}

.breadnav:hover .menu {
	background: #fede75;
	border: thin solid black;
	display: block;
	position: absolute;
	z-index: 50;
	color: #a58d73;
}

.breadmenu {
	padding: 5px;
	cursor: pointer;
}

.menuheading {
	color: white !important;
	padding: 11px 7px 7px;
}

.menuheading * {
	color: white !important;
}

.breadcrumb a:hover {
	text-decoration: none !important;
}

.breadmenu:hover {
	padding: 5px;
	background: #888;
}

.breadmenu+.breadmenu {
	border-top: thin solid black;
}

.parent+.child {
	margin-left: 10px;
}
