# 2**24
# set_cachesize 16777216

# http://www.oracle.com/technology/documentation/berkeley-db/db/api_reference/C/mutexset_max.html
mutex_set_max 4096


set_lk_max_locks 20000
set_lk_max_lockers 20000
set_lk_max_objects 20000

# http://www.oracle.com/technology/documentation/berkeley-db/db/api_reference/C/envset_lg_regionmax.html
# 1024*1024
set_lg_regionmax 1049600

# http://www.oracle.com/technology/documentation/berkeley-db/db/api_reference/C/envset_lg_max.html
# 1024 * 1024 * 8
set_lg_max 8388608

# http://www.oracle.com/technology/documentation/berkeley-db/db/api_reference/C/envset_lg_bsize.html
# 1024 * 1024
set_lg_bsize 1048576

